style.css
/* Reset some default styles */
body, h1, h2, p {
    margin: 20;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
    background-color: burlywood ;
    color: #0a0909;
    padding: 20;
}
h1{
    text-transform: uppercase;
}
nav {
    background-color:rgb(41, 39, 39);
    color: #fff;
    text-align: center;
    padding: 40px;
}

nav ul {
    list-style-type: armenian;
}

nav ul li {
    display: inline-flex;
    margin: 20px;
}

nav a {
    text-decoration: rgb(158, 111, 16);
    color: #fff;
}

section {
    margin: 40px;
}

.project {
    margin: 20px 0;
}

/* Add more CSS for styling as needed */

